In [1]:
import pandas as pd
from tools.preprocessing.missing_values import get_missing_raio, delete_columns, impute

In [2]:
data = [[1,2,None], [None,2,3]]
df = pd.DataFrame(columns=['a', 'b', 'c'], data=data)
df

     a  b    c
0  1.0  2  NaN
1  NaN  2  3.0

In [13]:
impute(df, 'linear')

     a  b    c
0  1.0  2  3.0
1  1.0  2  3.0