# f2. Clustering

In [1]:
import os
import pandas as pd

In [2]:
DATA_PATH = '../../data/'
train = pd.read_csv(os.path.join(DATA_PATH, 'train_f1.csv'), index_col=0)
# test = pd.read_csv(os.path.join(DATA_PATH, 'test.csv'))

train_origin = train.copy()
# test_origin = test.copy()

train.head()

,ID_LAT_LON_YEAR_WEEK,latitude,longitude,year,week_no,SulphurDioxide_SO2_column_number_density,SulphurDioxide_SO2_column_number_density_amf,SulphurDioxide_sensor_azimuth_angle,SulphurDioxide_sensor_zenith_angle,SulphurDioxide_solar_azimuth_angle,...,Ozone_sensor_zenith_angle,Ozone_solar_azimuth_angle,Ozone_solar_zenith_angle,Cloud_cloud_fraction,Cloud_cloud_top_height,Cloud_cloud_base_height,Cloud_surface_albedo,Cloud_sensor_azimuth_angle,Cloud_solar_azimuth_angle,emission
0,ID_-0.510_29.290_2019_00,-0.51,29.29,2019,0,-0.000108,0.603019,-98.593887,50.843559,-130.050797,...,35.632416,-138.786446,30.752128,0.595473,3664.436218,2615.120483,0.272292,-12.628986,-138.786423,3.750994
1,ID_-0.510_29.290_2019_01,-0.51,29.29,2019,1,0.000021,0.728214,16.592861,39.137194,-140.874435,...,42.596541,-143.097868,28.213655,0.213608,3651.190311,3174.572424,0.256830,30.359375,-145.183930,4.025176
2,ID_-0.510_29.290_2019_02,-0.51,29.29,2019,2,0.000514,0.748199,72.795837,52.868816,-150.191757,...,41.269033,-135.364627,30.273304,0.703540,4216.986492,3516.282669,0.251101,15.377883,-142.519545,4.231381
3,ID_-0.510_29.290_2019_03,-0.51,29.29,2019,3,0.000218,0.712247,38.458553,44.192202,-143.800458,...,34.458740,-137.489602,26.936477,0.782806,5228.507736,4180.973322,0.262043,-11.293399,-132.665828,4.305286
4,ID_-0.510_29.290_2019_04,-0.51,29.29,2019,4,-0.000079,0.676296,4.121269,35.515587,-137.409159,...,41.794705,-136.448518,25.045785,0.189336,3980.598120,3355.710107,0.235847,38.532263,-141.509805,4.347317

## 1) Feature selection for clustring

In [3]:
features = ['latitude', 'longitude', 'week_no']

X = train.copy()
X = X.loc[:, features]
X_scaled = (X - X.mean(axis=0)) / X.std(axis=0)

## 2) K-Means Clustering

In [4]:
import seaborn as sns
from sklearn.cluster import KMeans

In [5]:
# K-Means Clustering 수행
kmeans = KMeans(n_clusters=8, random_state=0)
X["Cluster"] = kmeans.fit_predict(X_scaled)


X.head(10)

c:\Users\loven\dev\kaggle_competition\carbon\carbon\lib\site-packages\sklearn\cluster\_kmeans.py:1412: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  super()._check_params_vs_input(X, default_n_init=10)

   latitude  longitude  week_no  Cluster
0     -0.51      29.29        0        3
1     -0.51      29.29        1        3
2     -0.51      29.29        2        3
3     -0.51      29.29        3        3
4     -0.51      29.29        4        3
5     -0.51      29.29        5        3
6     -0.51      29.29        6        3
7     -0.51      29.29        7        3
8     -0.51      29.29        8        3
9     -0.51      29.29        9        3

In [6]:
train['cluster'] = X['Cluster']

In [11]:
# 데이터 저장
data_name = os.path.join(DATA_PATH, 'train_f2.csv')
train.to_csv(data_name)