# f2. Clustering

In [12]:
import os
import pandas as pd

In [39]:
DATA_PATH = '../../data/'
train = pd.read_csv(os.path.join(DATA_PATH, 'train_f1.csv'), index_col=0)
test = pd.read_csv(os.path.join(DATA_PATH, 'test_f1.csv'), index_col=0)

# train_origin = train.copy()
# test_origin = test.copy()

train.head()

,ID_LAT_LON_YEAR_WEEK,latitude,longitude,year,week_no,SulphurDioxide_SO2_column_number_density,SulphurDioxide_SO2_column_number_density_amf,SulphurDioxide_sensor_azimuth_angle,SulphurDioxide_sensor_zenith_angle,SulphurDioxide_solar_azimuth_angle,...,Ozone_sensor_zenith_angle,Ozone_solar_azimuth_angle,Ozone_solar_zenith_angle,Cloud_cloud_fraction,Cloud_cloud_top_height,Cloud_cloud_base_height,Cloud_surface_albedo,Cloud_sensor_azimuth_angle,Cloud_solar_azimuth_angle,emission
0,ID_-0.510_29.290_2019_00,-0.51,29.29,2019,0,-0.000108,0.603019,-98.593887,50.843559,-130.050797,...,35.632416,-138.786446,30.752128,0.595473,3664.436218,2615.120483,0.272292,-12.628986,-138.786423,3.750994
1,ID_-0.510_29.290_2019_01,-0.51,29.29,2019,1,0.000021,0.728214,16.592861,39.137194,-140.874435,...,42.596541,-143.097868,28.213655,0.213608,3651.190311,3174.572424,0.256830,30.359375,-145.183930,4.025176
2,ID_-0.510_29.290_2019_02,-0.51,29.29,2019,2,0.000514,0.748199,72.795837,52.868816,-150.191757,...,41.269033,-135.364627,30.273304,0.703540,4216.986492,3516.282669,0.251101,15.377883,-142.519545,4.231381
3,ID_-0.510_29.290_2019_03,-0.51,29.29,2019,3,0.000218,0.712247,38.458553,44.192202,-143.800458,...,34.458740,-137.489602,26.936477,0.782806,5228.507736,4180.973322,0.262043,-11.293399,-132.665828,4.305286
4,ID_-0.510_29.290_2019_04,-0.51,29.29,2019,4,-0.000079,0.676296,4.121269,35.515587,-137.409159,...,41.794705,-136.448518,25.045785,0.189336,3980.598120,3355.710107,0.235847,38.532263,-141.509805,4.347317

## 1) Feature selection for clustring

In [41]:
features = ['latitude', 'longitude', 'week_no']

X = train.copy()
X = X.loc[:, features]
X_scaled = (X - X.mean(axis=0)) / X.std(axis=0)

## 2) K-Means Clustering

In [42]:
import seaborn as sns
from sklearn.cluster import KMeans

In [43]:
# K-Means Clustering 수행
kmeans = KMeans(n_clusters=8, random_state=0)
X["Cluster"] = kmeans.fit_predict(X_scaled)


X.head(10)

c:\Users\loven\dev\kaggle_competition\carbon\carbon\lib\site-packages\sklearn\cluster\_kmeans.py:1412: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  super()._check_params_vs_input(X, default_n_init=10)

   latitude  longitude  week_no  Cluster
0     -0.51      29.29        0        3
1     -0.51      29.29        1        3
2     -0.51      29.29        2        3
3     -0.51      29.29        3        3
4     -0.51      29.29        4        3
5     -0.51      29.29        5        3
6     -0.51      29.29        6        3
7     -0.51      29.29        7        3
8     -0.51      29.29        8        3
9     -0.51      29.29        9        3

In [17]:
train['cluster'] = X['Cluster']

In [11]:
# 데이터 저장
data_name = os.path.join(DATA_PATH, 'train_f2.csv')
train.to_csv(data_name)

## 3) Test data

In [44]:
X_test = test.copy()
X_test = X_test.loc[:, features]
X_test_scaled = (X_test - X_test.mean(axis=0)) / X_test.std(axis=0)

In [45]:
X_test_scaled

       latitude  longitude   week_no
0      1.988493  -0.728238 -1.697021
1      1.988493  -0.728238 -1.626312
2      1.988493  -0.728238 -1.555603
3      1.988493  -0.728238 -1.484894
4      1.988493  -0.728238 -1.414185
...         ...        ...       ...
24348 -2.027160   0.519314  1.414185
24349 -2.027160   0.519314  1.484894
24350 -2.027160   0.519314  1.555603
24351 -2.027160   0.519314  1.626312
24352 -2.027160   0.519314  1.697021

[24353 rows x 3 columns]

In [46]:
X_test_scaled['Cluster'] = kmeans.predict(X_test_scaled)
X_test_scaled.head()

   latitude  longitude   week_no  Cluster
0  1.988493  -0.728238 -1.697021        3
1  1.988493  -0.728238 -1.626312        3
2  1.988493  -0.728238 -1.555603        3
3  1.988493  -0.728238 -1.484894        3
4  1.988493  -0.728238 -1.414185        3

In [47]:
test['cluster'] = X_test_scaled['Cluster']

In [48]:
test

,ID_LAT_LON_YEAR_WEEK,latitude,longitude,year,week_no,SulphurDioxide_SO2_column_number_density,SulphurDioxide_SO2_column_number_density_amf,SulphurDioxide_sensor_azimuth_angle,SulphurDioxide_sensor_zenith_angle,SulphurDioxide_solar_azimuth_angle,...,Ozone_sensor_zenith_angle,Ozone_solar_azimuth_angle,Ozone_solar_zenith_angle,Cloud_cloud_fraction,Cloud_cloud_top_height,Cloud_cloud_base_height,Cloud_surface_albedo,Cloud_sensor_azimuth_angle,Cloud_solar_azimuth_angle,cluster
0,ID_-0.510_29.290_2022_00,-0.510,29.290,2022,0,0.000456,0.691164,76.239196,15.600607,-140.529848,...,33.696957,-133.047562,33.779572,0.485129,8472.313477,7472.313477,0.240773,-100.113792,-133.047546,3
1,ID_-0.510_29.290_2022_01,-0.510,29.290,2022,1,0.000456,0.691164,76.239196,15.600607,-140.529848,...,34.745542,-139.171039,30.405075,0.711262,6476.147323,5476.147161,0.293119,-30.510319,-138.632822,3
2,ID_-0.510_29.290_2022_02,-0.510,29.290,2022,2,0.000161,0.605107,-42.055341,39.889060,-136.908976,...,42.092969,-142.989044,27.440719,0.425682,8984.795703,7984.795703,0.267130,39.087361,-144.784988,3
3,ID_-0.510_29.290_2022_03,-0.510,29.290,2022,3,0.000350,0.696917,72.169566,58.862543,-152.999440,...,42.147727,-135.011886,29.596561,0.712160,6014.724059,5014.724115,0.304679,-24.465127,-135.027891,3
4,ID_-0.510_29.290_2022_04,-0.510,29.290,2022,4,-0.000317,0.580527,76.190865,15.646016,-135.794754,...,30.140668,-135.499142,26.273346,0.667876,6849.280477,5849.280394,0.284221,-12.907850,-135.500119,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24348,ID_-3.299_30.301_2022_44,-3.299,30.301,2022,44,-0.000482,0.745549,72.306198,61.114494,-123.965439,...,45.253230,-116.538328,29.990217,0.824764,6260.120033,5260.120056,0.180046,-25.528588,-116.521412,5
24349,ID_-3.299_30.301_2022_45,-3.299,30.301,2022,45,-0.000388,0.831635,72.979941,53.481405,-126.579977,...,43.765111,-122.419386,29.010233,0.854227,6678.843299,5678.951521,0.177833,-13.380005,-122.405759,5
24350,ID_-3.299_30.301_2022_46,-3.299,30.301,2022,46,-0.000159,0.917720,73.653684,45.848317,-129.194516,...,36.156556,-128.067844,26.532983,0.868501,5336.282475,4336.282491,0.219471,-5.072065,-124.530639,5
24351,ID_-3.299_30.301_2022_47,-3.299,30.301,2022,47,0.000071,1.003805,74.327427,38.215228,-131.809054,...,45.870072,-129.009204,30.426114,0.692792,7188.578533,6188.578464,0.247275,-0.668714,-129.006797,5
24352,ID_-3.299_30.301_2022_48,-3.299,30.301,2022,48,0.000071,1.003805,74.327427,38.215228,-131.809054,...,30.684672,-124.895843,34.457213,0.998517,7777.863638,6777.863819,0.239684,-40.826139,-124.895473,5

In [49]:
# 데이터 저장
data_name = os.path.join(DATA_PATH, 'test_f2.csv')
test.to_csv(data_name)